@model IEnumerable<TaskUploader.Models.Article>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Add file", "Upload", "UploadFile")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileId })
        </td>
    </tr>
}

</table>
